body {
    background-image: url(NEuip.jpg);
}

.container {
    max-width: 400px;
    margin-top: 90px;
    padding: 5px;
    background-color: rgb(231, 227, 227);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(231, 6, 6, 0.98);
}

h1 {
    text-align: center;
    margin-bottom: -1px;
    font-family: 'Arial', sans-serif;
    background-color: aliceblue;
}

input {
    margin-bottom: 2px;
}

button {
    width: 100%;
}
